import("stats", "graphics", "foreign")
#useDynLib("desk")

export(
  .onAttach,
  .onLoad,
  acc,
  ar1sim,
  arguments,
  bc.model,
  bc.test,
  bp.test,
  cochorc,
  datasets,
  dw.test,
  ddw,
  exp.def,
  f.coef.test,
  get.group,
  gq.test,
  hcc,
  hilu,
  ivr,
  jb.test,
  lagk,
  ols,
  ols.has.const,
  ols.infocrit,
  ols.interval,
  ols.predict,
  log.def,
  makedata.bc,
  makedata.corr,
  mc.table,
  plot.desk,
  print.desk,
  pc.test,
  pdw,
  qlr.cv,
  qlr.test,
  rep.sample,
  reset.test,
  rm.all,
  rprofile.add,
  rprofile.open,
  showfile,
  Sxy,
  t.coef.test,
  wh.test
  )